<h2>Sign up</h2>

<%= form_with(model: @user, local: true) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>

    <div>
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email %>
    </div>
    
    <div>
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password %>
    </div>
    
    <div>
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation %>
    </div>
    
    <%= f.submit 'Sign up' %>
<% end %>

<p>Already user? <%= link_to 'Log in', login_path %></p>
